extends layout 

block content 
  div.form-cont.fms.login
    form(method='POST', action='') 
      div.img-cont 
        img(src='/images/login.jpg', alt="", srcset="")
      div.form-group 
        label(for='username') Username 
        input#username.form-control(name='username', type='text', required='true')
      div.form-group  
        label(for='password') Password
        input#password.form-control(name='password', type='text', required='true')
      button.btn.btn-primary(type='submit') Log In
  